<h1>Real time cart</h1>

<div class="cont">
  <div id="real-time-cart"></div>
  <div id="real-time-products"></div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/indexCart.js"></script>